In [1]:
print("Hello world")

Hello world

In [1]:
100**3 == 1000

False

In [11]:
age = 30

In [12]:
if age >=16:
    print ("adult")
else:
    print ("minor")

adult

In [18]:
def paz(age):

    if age >=16:
        print ("adult")
    else:
        print ("minor")

In [17]:
paz(3)

minor

Methods

In [20]:
magic = 'hocus pocus'
print(type(magic))

<class 'str'>

In [21]:
magic = magic.swapcase()
magic

'HOCUS POCUS'

In [24]:
magic = magic.replace ('CUS' , 'PAR')
magic

'HOPAR POPAR'

In [26]:
 magic = magic.split()
magic

['HOPAR', 'POPAR']

Variable

In [5]:
age_list = [34, 25,23, 22,29]

In [6]:
max_age = max(age_list)
max_age

34

In [4]:
max_age = str(max_age)
max_age

'34'

In [7]:
max_age

34

In [20]:
First_name = 'Paschal '
Last_name = 'Mgbecheta'

In [22]:
Full_name = First_name + Last_name
Full_name

'Paschal Mgbecheta'

Defining a function using a 'def' keyword

In [16]:
def demo_function(name):
    print("Who asked you " + name)
    print("now get out!")

In [18]:
demo_function("Ella")

Who asked you Ella
now get out!

Using 'return' keyword

In [28]:
def acceleration(distance, time):
    return distance / time

In [32]:
motor_a = acceleration(100, 7)
motor_b = acceleration(250, 24)

Total_acceleration = motor_a + motor_b
Total_acceleration

24.702380952380953

In [34]:
#Write a function outling how much i can save in a year at 500 naira per day 
# also do the same for how many perecnt i can grow a 50 dollar account with an aveerage profit of 20 dollars per week

In [4]:
#Example
def seed_calculator(fountain_side, grass_width):
    """
    Calculate number of kilograms of grass seed needed for
    a border around a square fountain.

        Parameters:
            fountain_side (num): length of 1 side of fountain in meters
            grass_width (num): width of grass border in meters

        Returns:
            seed (float): amount of seed (kg) needed for grass border
    """

    # Area of fountain
    fountain_area = fountain_side**2

    # Area of grass border (corrected)
    grass_border_area = (fountain_side + 2 * grass_width) * 4 * grass_width

    # Total area (corrected)
    total_area = fountain_area + grass_border_area

    # Amount of seed needed (35 g/sq.m)
    seed_needed_per_area = 0.035  # Convert to kg/sq.m for easier calculation
    seed = total_area * seed_needed_per_area

    return seed

In [6]:
seed_calculator(14,8)

40.46

In [38]:
 #Boolean values
# Comparators
print(44>=56)

False

In [44]:
#Logical operators
# an expression to determine the minimun nos of words in a user name 
def hint_username(username):
    if len(username) < 8:
        print("Invalid username. Must be at least 8 characters long")
    else:
        print("Valid username")

In [48]:
# Using modulo operator
# A code that checks if a number is even by dividing it by 2 
def is_even(number):
    if number % 2 == 0:
        return True 
#the else statement here is optional because the code will run til the last function on its own if the If statement proves false 
    else:
        return False

In [50]:
is_even (56)

True

In [62]:
#elif statements
def hint_username(username):
    if len(username) < 8:
        print("Invalid, Must be at least 8 characters long")
    elif len(username) > 15:
        print ("Username cannot be more than 15 characters")
    else:
        print("Valid")

In [64]:
hint_username("GBHHBNJJNN")

Valid

In [10]:
#In your work as a data analyst for a movie theater, you're asked to quickly calculate how much the theater has made in sales so far.
#magine that the price of tickets is $7.99.

# Add a parameter to the function
def total_sales(n):

    # Multiply the parameter by the ticket price to get total sales
    return n * 7.99

In [14]:
total_sales(59)

471.41

Update your total_sales function so it accepts two parameters:

price for the price per ticket
num_tickets for the total number of tickets.
Return the product of the two arguments. Use the Python round() function to round the returned value to two decimal places.

In [20]:
# Refine the `total_sales` function
def total_sales(price, num_tickets):
    return round(price * num_tickets, 2)

In [22]:
# Call the function with two values
total_sales(15.99, 1001)

16005.99

You are a data professional for a movie theater, and your task is to use customers' purchasing data to determine whether or not to send them a marketing email.

Define a function called send_email that accepts the following arguments:
num_visits - the number of times a customer has visited the theater
visits_email - the minimum number of visits the customer must have made for them to receive a marketing email
The function must print either: Send email. or Not enough vi

```
 [IN] send_email(num_visits=3, visits_email=5)
[OUT] 'Not enough visits.'

 [IN] send_email(num_visits=5, visits_email=5)
[OUT] 'Send email.'sits.

In [24]:
def send_email(num_visits, visits_email):
    if num_visits >= visits_email:
        print('Send email.')
    else:
        print('Not enough visits.')

In [26]:
send_email(num_visits=3, visits_email=5)    # Should print 'Not enough visits.'
send_email(num_visits=5, visits_email=5)    # Should print 'Send email.'
send_email(num_visits=15, visits_email=10)  # Should print 'Send email.'

Not enough visits.
Send email.
Send email.

The theater is offering a promotion where customers who have visited the theater more than a designated number of times will also receive a coupon with their email. Update the function that you created above to include additional logical branching.

Include an additional argument visits_coupon that represents the minimum number of visits the customer must have made for them to receive a coupon with their email.

The function must print one of three possible messages:

Send email with coupon.
Send email only.
Not enough visits.
The minimum number of visits to receive a coupon will always be greater than the number to receive an email only.

Example:

 [IN] send_email(num_visits=3, visits_email=5, visits_coupon=8)
[OUT] 'Not enough visits.'

 [IN] send_email(num_visits=5, visits_email=5, visits_coupon=8)
[OUT] `Send email only.`

 [IN] send_email(num_visits=8, visits_email=5, visits_coupon=8)
[OUT] `Send email with coupon.`

In [41]:
def send_email (num_visits,visits_email, visits_coupon):
    if num_visits >= visits_coupon:
        print('Send email with coupon.')
    elif num_visits >= visits_email:
        print ("send email only")
    else:
        print("not enough visits")

In [43]:
send_email(num_visits=3, visits_email=5, visits_coupon=8)   # Should print 'Not enough visits.'
send_email(num_visits=5, visits_email=5, visits_coupon=8)   # Should print 'Send email only.'
send_email(num_visits=6, visits_email=5, visits_coupon=8)   # Should print 'Send email only.'
send_email(num_visits=8, visits_email=5, visits_coupon=8)   # Should print 'Send email with coupon.'
send_email(num_visits=10, visits_email=5, visits_coupon=8)  # Should print 'Send email with coupon.'

not enough visits
send email only
send email only
Send email with coupon.
Send email with coupon.

In [5]:
# Import the random module to be able to create a (pseudo) random number.
import random

number = random.randint(1,25)                   # Generate random number
number_of_guesses = 0                           # Instantiate guess counter

while number_of_guesses < 5:
    print('Guess a number between 1 and 25: ')  # Tell user to guess number
    guess = input()                             # Produce the user input field
    guess = int(guess)                          # Convert guess to integer
    number_of_guesses += 1                      # Increment guess count by 1

    if guess == number:                         # Break while loop if guess is correct
        break
    elif number_of_guesses == 5:                # Break while loop if guess limit reached
        break
    else:                                       # Tell user to try again
        print('Nope! Try again.')

# Message to display if correct
if guess == number:
    print('Correct! You guessed the number in ' + str(number_of_guesses) + ' tries!')
# Message to display after 5 unsuccessful guesses
else:
    print('You did not guess the number. The number was ' + str(number) + '.')

Guess a number between 1 and 25:

 11

Nope! Try again.
Guess a number between 1 and 25:

 22

Nope! Try again.
Guess a number between 1 and 25:

 23

Nope! Try again.
Guess a number between 1 and 25:

 16

Nope! Try again.
Guess a number between 1 and 25:

 13

You did not guess the number. The number was 1.

In [7]:
# Import the random module to be able to create a (pseudo) random number.
import random

number = random.randint(1,25)                   # Generate random number
number_of_guesses = 0                           # Instantiate guess counter

while number_of_guesses < 5:
    print('Guess a number between 1 and 25: ')  # Tell user to guess number
    guess = input()                             # Produce the user input field
    guess = int(guess)                          # Convert guess to integer
    number_of_guesses += 1                      # Increment guess count by 1

    if guess == number:                         # Break while loop if guess is correct
        break
    else:                                       # Tell user to try again
        print('Nope! Try again.')

# Message to display if correct
if guess == number:
    print('Correct! You guessed the number in ' + str(number_of_guesses) + ' tries!')
# Message to display after 5 unsuccessful guesses
else:
    print('You did not guess the number. The number was ' + str(number) + '.')

Guess a number between 1 and 25:

 22

Nope! Try again.
Guess a number between 1 and 25:

 34

Nope! Try again.
Guess a number between 1 and 25:

 11

Nope! Try again.
Guess a number between 1 and 25:

 15

Nope! Try again.
Guess a number between 1 and 25:

 13

Nope! Try again.
You did not guess the number. The number was 20.

In [11]:
x = 2
while x < 300:
    print(x)
    x = x+2

2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50
52
54
56
58
60
62
64
66
68
70
72
74
76
78
80
82
84
86
88
90
92
94
96
98
100
102
104
106
108
110
112
114
116
118
120
122
124
126
128
130
132
134
136
138
140
142
144
146
148
150
152
154
156
158
160
162
164
166
168
170
172
174
176
178
180
182
184
186
188
190
192
194
196
198
200
202
204
206
208
210
212
214
216
218
220
222
224
226
228
230
232
234
236
238
240
242
244
246
248
250
252
254
256
258
260
262
264
266
268
270
272
274
276
278
280
282
284
286
288
290
292
294
296
298

In [1]:
# nested loops
students = [['Igor', 'Sokolov'], ['Riko', 'Miyazaki'], ['Tuva', 'Johansen']]
for student in students:
   for name in student:
       print(name)
   print()

Igor
Sokolov

Riko
Miyazaki

Tuva
Johansen

In this example, the students variable contains a list of three lists. Each inner list contains two elements: a given name and a surname. The first for loop iterates over the inner lists. The second (nested) for loop iterates over each name in each inner list and prints the name. After each iteration of the outer loop, the program uses an empty print statement to print a new line.

In [1]:
# Nested loops can produce the different combinations of pips (dots) in
# a set of dominoes.
for left in range(7):
    for right in range(left, 7):
        print(f"[{left}|{right}]", end=" ")
    print('\n')

[0|0] [0|1] [0|2] [0|3] [0|4] [0|5] [0|6]

[1|1] [1|2] [1|3] [1|4] [1|5] [1|6]

[2|2] [2|3] [2|4] [2|5] [2|6]

[3|3] [3|4] [3|5] [3|6]

[4|4] [4|5] [4|6]

[5|5] [5|6]

[6|6]

In [2]:
 #Create a list of dominoes, with each domino reprented as a tuple.
dominoes = []
for left in range(7):
    for right in range(left, 7):
        dominoes.append((left, right))
dominoes

[(0, 0),
 (0, 1),
 (0, 2),
 (0, 3),
 (0, 4),
 (0, 5),
 (0, 6),
 (1, 1),
 (1, 2),
 (1, 3),
 (1, 4),
 (1, 5),
 (1, 6),
 (2, 2),
 (2, 3),
 (2, 4),
 (2, 5),
 (2, 6),
 (3, 3),
 (3, 4),
 (3, 5),
 (3, 6),
 (4, 4),
 (4, 5),
 (4, 6),
 (5, 5),
 (5, 6),
 (6, 6)]

In [4]:
dominoes[16][1]

5

List Comprehension

In [7]:
# You can use a for loop to sum the pips on each domino and append
# the sum to a new list.
pips_from_loop = []
for domino in dominoes:
    pips_from_loop.append(domino[0] + domino[1])
print(pips_from_loop)

[0, 1, 2, 3, 4, 5, 6, 2, 3, 4, 5, 6, 7, 4, 5, 6, 7, 8, 6, 7, 8, 9, 8, 9, 10, 10, 11, 12]

In [8]:
# A list comprehension produces the same result with less code.
pips_from_list_comp = [domino[0] + domino[1] for domino in dominoes]
pips_from_loop == pips_from_list_comp

True

zip finction

In [9]:
cities = ['Paris', 'Lagos', 'Mumbai']
countries = ['France', 'Nigeria', 'India']
places = zip(cities, countries)


print(places)
print(list(places))

<zip object at 0x000001CA03525980>
[('Paris', 'France'), ('Lagos', 'Nigeria'), ('Mumbai', 'India')]

In [11]:
#unzipping
scientists = [('Nikola', 'Tesla'), ('Charles', 'Darwin'), ('Marie', 'Curie')]
given_names, surnames = zip(*scientists)
print(given_names)
print(surnames)

('Nikola', 'Charles', 'Marie')
('Tesla', 'Darwin', 'Curie')

enumerator function

In [12]:
letters = ['a', 'b', 'c']
for index, letter in enumerate(letters):
   print(index, letter)

0 a
1 b
2 c

In [13]:
letters = ['a', 'b', 'c']
for index, letter in enumerate(letters, 2):
   print(index, letter)

2 a
3 b
4 c

In [14]:
numbers = [1, 2, 3, 4, 5]
new_list = [x + 10 for x in numbers]
print(new_list)

[11, 12, 13, 14, 15]

This next list comprehension extracts the first and last letter of each word as a tuple, but only if the word is more than five letters long.

In [15]:
words = ['Emotan', 'Amina', 'Ibeno', 'Sankwala']
new_list = [(word[0], word[-1]) for word in words if len(word) > 5]
print(new_list)

[('E', 'n'), ('S', 'a')]

state_names - a list of each state in the state_name column in the table above, in order, as strings
county_names - a list of each county in the county_name column in the table above, in order, as strings

In [17]:
state_names = ["Arizona", "California", "California", "Kentucky", "Louisiana"]


county_names = ["Maricopa", "Alameda", "Sacramento", "Jefferson", "East Baton Rouge"]

Use state_names and county_names to:
Create a new list of tuples, where each tuple contains a pair of state name and county name.
Assign the new list to a variable called state_county_tuples.
Print the result

In [18]:
state_county_tuples = []
for i in range(len(state_names)):
    state_county_tuples.append((state_names[i], county_names[i]))

state_county_tuples

[('Arizona', 'Maricopa'),
 ('California', 'Alameda'),
 ('California', 'Sacramento'),
 ('Kentucky', 'Jefferson'),
 ('Louisiana', 'East Baton Rouge')]

Use the zip() function to generate the same output created in Task 1b.

Use state_names and county_names to:
Create a new list of tuples, where each tuple contains a pair of state name and county name.
Assign the new list to a variable called state_county_zipped.
Check that state_county_zipped is the same as state_county_tuples.

In [19]:
# My code 
state_name =['Arizona', 'California', 'California', 'Kentucky', 'Louisiana']
county_name = ['Maricopa', 'Alameda', 'Suacramento', 'Jefferson', 'East Baton Rouge']

state_county_zipped = zip(state_name, county_name)

print(state_county_zipped)
print(list(state_county_zipped))

<zip object at 0x000001CA035BEDC0>
[('Arizona', 'Maricopa'), ('California', 'Alameda'), ('California', 'Suacramento'), ('Kentucky', 'Jefferson'), ('Louisiana', 'East Baton Rouge')]

In [21]:
#Correction
state_county_zipped = list(zip(state_names, county_names))

print(list(state_county_zipped))

[('Arizona', 'Maricopa'), ('California', 'Alameda'), ('California', 'Sacramento'), ('Kentucky', 'Jefferson'), ('Louisiana', 'East Baton Rouge')]

Use a list comprehension to convert state_county_tuples from a list of tuples to a list of lists. Assign the result to a variable called state_county_lists.

Print the result.

In [22]:
state_county_lists = [list(i) for i in state_county_tuples]
state_county_lists

[['Arizona', 'Maricopa'],
 ['California', 'Alameda'],
 ['California', 'Sacramento'],
 ['Kentucky', 'Jefferson'],
 ['Louisiana', 'East Baton Rouge']]

rite a loop that unpacks each tuple in state_county_tuples and, if the state in the tuple is California, add the corresponding county to a list called ca_counties.

In [23]:
ca_counties = []
for state, county in state_county_tuples:
    if state=='California':
        ca_counties.append(county)
ca_counties

['Alameda', 'Sacramento']

In a list comprehension, unpack each tuple in state_county_tuples and, if the state in the tuple is California, add the corresponding county to the list comprehension.

Assign the result to a variable called ca_counties.

Print ca_counties.

In [24]:
ca_counties = [county for (state, county) in state_county_tuples if state=='California']
ca_counties

['Alameda', 'Sacramento']

DICTIONARIES

In [3]:
ZOO = dict(
    room_1='Paschal',
    room_2='Ifunanya',
    room_3='Chidimma',
)

In [8]:
# To retrieve or lookup the alues of the keys
ZOO['room_1']

'Paschal'

In [ ]:
# To add OR  BETTER STILL REPLACE a new value to am existing key
ZOO ["room_2"] = 'Iruoma'
ZOO

{'room_1': 'Paschal', 'room_2': 'Iruoma', 'room_3': 'Chidimma'}

In [ ]:
# Dictionaries are unordered but in python 3.7 and up they now retain their order
# Checking if a keyword exists in your dictioanry by using the 'IN' keyword to produce a boolean response which works only for keys and not values 

print ('room_2' in ZOO )

True

DICTIONARY METHODS

In [1]:
# Create a list of tuples, each representing the name, age, and position of a
# player on a basketball team.
team = [
    ('Marta', 20, 'center'),
    ('Ana', 22, 'point guard'),
    ('Gabi', 22, 'shooting guard'),
    ('Luz', 21, 'power forward'),
    ('Lorena', 19, 'small forward'),
    ]

In [2]:
# Add new players to the list.
team = [
    ('Marta', 20, 'center'),
    ('Ana', 22, 'point guard'),
    ('Gabi', 22, 'shooting guard'),
    ('Luz', 21, 'power forward'),
    ('Lorena', 19, 'small forward'),
    ('Sandra', 19, 'center'),
    ('Mari', 18, 'point guard'),
    ('Esme', 18, 'shooting guard'),
    ('Lin', 18, 'power forward'),
    ('Sol', 19, 'small forward'),
    ]

In [3]:
# Instantiate an empty dictionary.
new_team = {}

# Loop over the tuples in the list of players and unpack their values.
for name, age, position in team:
    if position in new_team:                    # If position already a key in new_team,
        new_team[position].append((name, age))  # append (name, age) tup to list at that value.
    else:
        new_team[position] = [(name, age)]      # If position not a key in new_team,
                                                # create a new key whose value is a list
                                                # containing (name, age) tup.
new_team

{'center': [('Marta', 20), ('Sandra', 19)],
 'point guard': [('Ana', 22), ('Mari', 18)],
 'shooting guard': [('Gabi', 22), ('Esme', 18)],
 'power forward': [('Luz', 21), ('Lin', 18)],
 'small forward': [('Lorena', 19), ('Sol', 19)]}

In [4]:
# Examine the value at the 'point guard' key.
new_team['point guard']

[('Ana', 22), ('Mari', 18)]

In [5]:
# You can access the a dictionary's keys by looping over them.
for x in new_team:
    print(x)

center
point guard
shooting guard
power forward
small forward

In [9]:
# The keys() method returns the keys of a dictionary.
# The value method returns all the values in a dictionary
new_team.keys()
new_team.values()

dict_values([[('Marta', 20), ('Sandra', 19)], [('Ana', 22), ('Mari', 18)], [('Gabi', 22), ('Esme', 18)], [('Luz', 21), ('Lin', 18)], [('Lorena', 19), ('Sol', 19)]])

In [10]:
# The items() method returns both the keys and the values.
for a, b in new_team.items():
    print(a, b)

center [('Marta', 20), ('Sandra', 19)]
point guard [('Ana', 22), ('Mari', 18)]
shooting guard [('Gabi', 22), ('Esme', 18)]
power forward [('Luz', 21), ('Lin', 18)]
small forward [('Lorena', 19), ('Sol', 19)]

In [11]:
# To delete a key-value pair from a dictionary, use the del keyword:
my_dict = {'nums': [1, 2, 3],
          'abc': ['a', 'b', 'c']
          }
del my_dict['abc']
print(my_dict)

{'nums': [1, 2, 3]}

In [12]:
# To assign new keys to a dictionary
my_dict = {'nums': [1, 2, 3]
          }


# Add a new 'floats' key
my_dict['floats'] = [1.0, 2.0, 3.0]
print(my_dict)

{'nums': [1, 2, 3], 'floats': [1.0, 2.0, 3.0]}

In [15]:
my_dict['Mgbecheta'] = ['paschal', 'chee', 'iru']

print([my_dict])

[{'nums': [1, 2, 3], 'floats': [1.0, 2.0, 3.0], 'Mgbecheta': ['paschal', 'chee', 'iru']}]

    SETS

In [16]:
# The set() function converts a list to a set.
x = set(['foo', 'bar', 'baz', 'foo'])
print(x)

{'baz', 'bar', 'foo'}

In [17]:
# The set() function converts a tuple to a set.
x = set(('foo','bar','baz', 'foo'))
print(x)

{'baz', 'bar', 'foo'}

In [18]:
# The set() function converts a string to a set.
x = set('foo')
print(x)

{'o', 'f'}

In [19]:
# You can use braces to instantiate a set
x = {'foo'}
print(type(x))

# But empty braces are reserved for dictionaries.
y = {}
print(type(y))

<class 'set'>
<class 'dict'>

In [20]:
# Instantiating a set with braces treats the contents as literals.
x = {'foo'}
print(x)

{'foo'}

In [ ]:
# The intersection() method (&) returns common elements between two sets.
set1 = {1, 2, 3, 4, 5, 6}
set2 = {4, 5, 6, 7, 8, 9}
print(set1.intersection(set2))  # Either this 
print(set1 & set2) #.. or this

{4, 5, 6}
{4, 5, 6}

In [ ]:
# The union() method (|) returns all the elements from two sets, each represented once.
x1 = {'foo', 'bar', 'baz'}
x2 = {'baz', 'qux', 'quux'}
print(x1.union(x2)) # this 
print(x1 | x2) # ... or this

{'foo', 'baz', 'qux', 'bar', 'quux'}
{'foo', 'baz', 'qux', 'bar', 'quux'}

In [ ]:
# The difference() method (-) returns the elements in set1 that aren't in set2
set1 = {1, 2, 3, 4, 5, 6}
set2 = {4, 5, 6, 7, 8, 9}
print(set1.difference(set2)) # this 
print(set1 - set2) #... or this

{1, 2, 3}
{1, 2, 3}

In [ ]:
# ... and the elements in set2 that aren't in set1.
print(set2.difference(set1)) # this 
print(set2 - set1) # .. or this

{8, 9, 7}
{8, 9, 7}

In [ ]:
# The symmetric_difference() method (^) returns all the values from each set that
# are not in both sets.
set1 = {1, 2, 3, 4, 5, 6}
set2 = {4, 5, 6, 7, 8, 9}
set2.symmetric_difference(set1) # this
set2 ^ set1 # .. or this

{1, 2, 3, 7, 8, 9}

EXAMPLER FOR SETS AND DICTIONARIES

Task 1: Create a dictionary to store information
Dictionaries are useful when you need a data structure to store information that can be referenced or looked up.

In this task you'll begin with three list objects:

state_list - an ordered list of the state where each data point was recorded
county_list - an ordered list of the county where each data point was recorded
aqi_list - an ordered list of AQI records


As a refresher, here is an example table of some of the information contained in these variables:


state_name	county_name	aqi
Arizona	Maricopa	9
California	Alameda	11
California	Sacramento	35
Kentucky	Jefferson	6
Louisiana	East Baton Rouge	5


Reminder: This lab uses more data than the last one. This table is just a small sample of the information contained in the three lists that are provided for this activity.


1a: Create a list of tuples
Begin with an intermediary step to prepare the information to be put in a dictionary.

Convert state_list, county_list, and aqi_list to a list of tuples, where each tuple contains information for a single record: (state, county, aqi).

Assign the result to a variable called epa_tuples

In [ ]:
# RUN THIS CELL TO IMPORT YOUR DATA
# DONT EXPECT IT TO RUN, THE LIBRARY DOESNT EXIST HERE 
import ada_c2_labs as lab
state_list = lab.fetch_epa('state')
county_list = lab.fetch_epa('county')
aqi_list = lab.fetch_epa('aqi')

ModuleNotFoundError: No module named 'ada_c2_labs'

In [ ]:
### YOUR CODE HERE ###
epa_tuples = list(zip(state_list, county_list, aqi_list))

In [ ]:
# * Create a dictionary called `aqi_dict`:
 #   * Use a loop to unpack information from each tuple in `epa_tuples`.
  #  * Your dictionary's keys should be states.
   # * The value at each key should be a list of tuples, where each tuple is a county-AQI pair of a record from a given state.


### YOUR CODE HERE ###
aqi_dict = {}
for state, county, aqi in epa_tuples:
    if state in aqi_dict:
        aqi_dict[state].append((county, aqi))
    else:
        aqi_dict[state] = [(county, aqi)]

In [27]:
aqi_dict['Vermont']

NameError: name 'aqi_dict' is not defined

Use your Python skills to calculate the number of readings that were recorded in the state of Arizona.

In [ ]:
len(aqi_dict['Arizona'])

2b: Calculate the mean AQI from the state of California
Use your Python skills to calculate the mean of the AQI readings that were recorded in the state of California. Note that there are many different approaches you can take. Be creative!

Expected output:

[OUT] 9.412280701754385

In [28]:
# CHATGPT RESPONSE CHOSEN HERE OVER COUSERA CORRECTION DIE TO EXPLANATORY METHOD
# Get the list of (county, AQI) tuples for California
california_data = aqi_dict.get('California', [])

# Calculate the mean AQI
if california_data:  # Ensure there is data for California
    total_aqi = sum(aqi for _, aqi in california_data)  # Sum up AQI values
    count = len(california_data)  # Count the number of readings
    mean_aqi = total_aqi / count  # Calculate mean
    print(f"The mean AQI in California is {mean_aqi:}.")
else:
    print("No AQI data available for California.")

NameError: name 'aqi_dict' is not defined

3a: Write the function
Define a function called county_counter that takes one argument:

state - a string of the name of a U.S. state
Return county_dict - a dictionary object whose keys are counties of the state given in the function's argument. For each county key, the corresponding value should be the count of the number of times that county is represented in the AQI data for that state.

Example:

[IN]  county_counter('Florida')
[OUT] {'Duval': 13,
       'Hillsborough': 9,
       'Broward': 18,
       'Miami-Dade': 15,
       'Orange': 6,
       'Palm Beach': 5,
       'Pinellas': 6,
       'Sarasota': 9}
NOTE: Depending on the version of Python you're using, the order of the items returned by a dictionary can vary, so it's possible that your keys might not print in the same order as listed above. However, the key-value pairs themselves will be the same if you do the exercise successfully.

In [ ]:
### YOUR CODE HERE ###
def county_counter(state):
    county_dict = {}
    for county, aqi in aqi_dict[state]:
        if county in county_dict:
            county_dict[county] +=1
        else:
            county_dict[county] = 1
    return county_dict

Use the county_counter() function to calculate how many AQI readings were from Washington County, Pennsylvania.

Expected result:

[OUT] 7

In [ ]:
### YOUR CODE HERE ###
pa_dict = county_counter('Pennsylvania')
pa_dict['Washington']

Use the county_counter function to obtain a list of all the different counties in the state of Indiana.

Expected result:

[OUT] dict_keys(['Marion', 'St. Joseph', 'Vanderburgh', 'Allen', 'Vigo'
      'Hendricks', 'Lake'])
NOTE: Depending on the version of Python you're using, the order of the items returned by a dictionary can vary, so it's possible that your keys might not print in this same order as listed above. However, the key-value pairs themselves will be the same if you do the exercise successfully.

In [ ]:
### YOUR CODE HERE ###
county_counter('Indiana').keys()

4a: Construct a list of every county from every state
Use aqi_dict and county_counter() to construct a list of every county from every state.
Assign the result to a variable called all_counties.
Find the length of all_counties.

In [ ]:
# 1. ### YOUR CODE HERE ###
all_counties = []
for state in aqi_dict.keys():
    counties = list(county_counter(state).keys())
    all_counties += counties
    
# 2. ### YOUR CODE HERE ###
len(all_counties)

4b: Calculate how many counties share names
Use all_counties and your knowledge of sets and list methods to determine how many counties share names.

In [ ]:
shared_count = 0 

for county in set(all_counties): 
    count = all_counties.count(county)
    if count > 1: 
        shared_count += count
        
shared_count